/* Enter your custom styles here */
.ts {
    margin-left: 1rem;
}
/* .sapUiSizeCompact.sapMDialog>.sapMDialogSection, .sapUiSizeCompact .sapMDialog>.sapMDialogSection {
    min-height: 2.5rem;
    width: 20rem;
}
sapUiSizeCompact.sapMDialog>footer .sapMFooter-CTX, .sapUiSizeCompact .sapMDialog>footer .sapMFooter-CTX {
    height: 2.5rem;
    width: 20rem;
}
.sapMDialog .sapMIBar {
    position: relative;
    width: 20rem;
} */